<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
  <h2 class="color-yellow font25">Search Results</h2>
  <a href="#">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 search-result-block clearfix">
        <div class="left">
          <%= image_tag "avatar.jpg", :class=>"user-profile" %>
        </div>
        <div class="left profile-desc">
          <div class="font18">Name:  Akash Bijwe</div>
          <div class="font12">Designation: Software Engineer</div>
          <div class="font12">Work Experience: 7+ Years</div>
        </div>
      </div>
    </div>
  </a>

  <a href="#">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 search-result-block clearfix">
        <div class="left">
          <%= image_tag "avatar.jpg", :class=>"user-profile" %>
        </div>
        <div class="left profile-desc">
          <div class="font18">Name:  Akash Bijwe</div>
          <div class="font12">Designation: Software Engineer</div>
          <div class="font12">Work Experience: 7+ Years</div>
        </div>
      </div>
    </div>
  </a>

  <a href="#">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 search-result-block clearfix">
        <div class="left">
          <%= image_tag "avatar.jpg", :class=>"user-profile" %>
        </div>
        <div class="left profile-desc">
          <div class="font18">Name:  Akash Bijwe</div>
          <div class="font12">Designation: Software Engineer</div>
          <div class="font12">Work Experience: 7+ Years</div>
        </div>
      </div>
    </div>
  </a>





</div>