<div class="container">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  pad-tb-20"> 
    <h2 class="color-yellow font25">Full Detail Page</h2>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="brd gb20 clearfix">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pad0">
        <div class="pad10">
          <%= render 'workers/show/basic_info' %>
          <%= render 'workers/show/educational_background' %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pad0">
        <%= render 'workers/show/skills' %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pad0">
        <%= render 'workers/show/references' %>
      </div>
    </div>
  </div>
</div>