<div class="search-result-block gb10">
  <div class="font25 gb10">Educational Background</div>
  <div class="clearfix brd-bottom pad-tb5 hover-bg">
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 pad0">
      Education: 
    </div>
    <div class="col-xs-6 col-sm-6 col-md-9 col-lg-9 pad0">
      <%= @worker.education %>
    </div>
  </div>
  <div class="clearfix brd-bottom pad-tb5 hover-bg">
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 pad0">
      Special Training or Courses: 
    </div>
    <div class="col-xs-6 col-sm-6 col-md-9 col-lg-9 pad0">
      <%= @worker.special_course %>
    </div>
  </div>
  <div class="clearfix pad-tb5 hover-bg">
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 pad0">
      College or Institute Name & Address: 
    </div>
    <div class="col-xs-6 col-sm-6 col-md-9 col-lg-9 pad0">
      <%= @worker.college %>
    </div>
  </div>
</div>