/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require bg_images
 *= require bootstrap.min2
 *= require_self
 */

html,body{
  padding: 0;
  margin: 0;
}
body{
  background-color: #006990;
  color: #333;
  font-family: "sans-serif",Open Sans ;
}
a, a:focus, a:active, a:hover{
  color: #fff;
  text-decoration: none;
}
.color-white{
  color: #fff;  
}
.left{
  float: left;
}
.right{
  float: right;
}
.pad0{
  padding: 0;
}
.pad5{
  padding: 5px;
}
.pad10{
  padding: 10px;
}
.pad15{
  padding: 15px;
}
.pad20{
  padding: 20px;
}
.pad-tb5{
  padding: 5px 0px;
}
.margin0{
  margin: 0; 
}
.gutter-right10{
  margin-right: 10px;
}
.gb10{
  margin-bottom: 10px;
}
.gb20{
  margin-bottom: 20px;
}
.font12{
  font-size: 12px;
}
.font25{
  font-size: 25px;
}
.center{
  text-align: center;
}
.right{
  text-align: right;
}
.left{
  text-align: left;
}
.bg-white{
  background-color: #fff;
}
.breadcrumb{
  font-size: 12px;
  color: #fff;
  background-color: unset;
  padding: 0px;
}
.table thead tr {
  color: #707070;
}
.table tbody tr {
  color: #8b91a0;
}
.topbar{
  background-color: #009ED8;
}
.nav > li > a:hover, .nav > li > a:focus{
  background-color: #009ED8;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
  background-color: #009ED8;
}
ul.main-navigation-menu > li.open , ul.main-navigation-menu > li,{
  background-color: #1e2129;
}
#pageslide-left {
  z-index: 1021;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 70px;
  background-color: #22262f;
  min-height: 100%;
}
#pageslide-left .user-profile{
  height: 50px;
  width: 50px;
  border: 1px solid #2d323e;
}
#pageslide-left .main-navigation-menu{
  list-style: none;
  margin: 0;
  padding: 0;
}
#pageslide-left .main-navigation-menu li {
  border-top: 1px solid #2d323e; 
  padding: 10px 25px;
}
#pageslide-left .main-navigation-menu:last-child{
  border-bottom: 1px solid #2d323e;
}
#pageslide-left .main-navigation-menu li:hover{
  background-color: #31353F;
}
.page-contents{
  margin-top: 50px;
}




/******* Responsive CSS *********/
@media (max-width:500px){
   #pageslide-left {
    margin-left: -260px;
    background-color: rgba(0,0,0,.97);
    width: 60%;
    z-index: 2;
    position: absolute;
  }
  .mobile-menu{
    background: url("<%= asset_path 'glyphicons-halflings-white.png' %>");
    cursor: pointer;
    color: #fff;
  }
  .mobile-close-btn{
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #fff;
    top: 60px;
  }
}
.profiler-results{
  display: none;
}
/******* End Responsive CSS *********/


/****** Main Site Container *******/
.user-profile{
  height: 85px;
  width: 105px;
  border: 1px solid #ccc;
}
.user-profile2{
  height: 85px;
  width: 105px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
.user-profile-container{
  border: 1px solid #ccc;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
  padding: 5px;
  text-align: center;
  margin: 0 auto 10px auto;
  height: 100px;
  width: 120px;
}
.main-page{
  color: #333;
  background-color: #fff; 
  padding-top: 60px;
}
.main-page a{
  color: #333;
}
.main-page a:hover, a:active, a:focus{
  color: #88bbc8;
}
#main-header{
  background-color: #fff;
  position: fixed;
  padding: 10px 0px;
  box-shadow: 0px 3px 5px rgba(0,0,0,.3);
  height: 60px;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
}
.btn-signup-login{
  background-color: #006990;
  border: 1px solid #006990;
  padding: 6px 10px;
  float: left;
  color: #fff;
  transition: all 0.5s ease 0s;
}
.btn-signup-login:hover{
  background-color: #F3C500;
  border: 1px solid #F3C500;
}
#main-header .right-menu{
  list-style-type: none;
  float: right;
  margin-top: 7px
}
#main-header .right-menu li{
  display: inline;
  font-size: 15px;
  margin-right: 10px;
  padding: 6px 10px;
  transition: all 0.5s ease 0s;
}
#main-header .right-menu li:hover{
  border-bottom: 2px solid #F3C500;
}
#main-header .right-menu li a{
  transition: all 0.5s ease 0s;
}
#main-header .right-menu li a:hover{
  color: #F3C500;
}
.main-banner-content{
  padding: 100px 0px;
  width: 700px;
  text-align: center;
  color: #fff;
  margin: 0 auto;
}
.color-yellow{
  color: #F3C500;
}
.no-display{
  display: none;
}
.color-blue{
  color: #88bbc8;
}
.no-border-radius{
  border-radius: 0px;
  box-shadow: unset;
}
.main-page label{
  color: #333;
}
.main-page .footer-bottom{
  background-color: #3C3D41;
  padding: 10px;
}
.main-page .row{
  margin-left: 0;
  margin-right: 0;
}
.search-result-block {
  border: 1px solid #ccc;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
  padding: 10px;
}
.search-result-block:hover{
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.15);
}
.search-result-block .profile-desc{
  padding: 0px 15px;
}
.pad-lr-10{
  padding: 0 10px;
}
.font13{
  font-size: 13px;
}
.font15{
  font-size: 15px;
}
.font18{
  font-size: 18px;
}
.brd-bottom{
  border-bottom: 1px solid #ccc;
}
.bold{
  font-weight: bold;
}
.brd{
  border: 1px solid #ccc;
}
.gt10{
  margin-top: 10px;
}
.hover-bg:hover{
  background-color: #F4F6F9;
}
