<div class="bg-white pad15 font25">
  All Industry
</div>
<div class="pad15">
  <div class="breadcrumb">
    Home / All Industry
  </div>
  <div id="notice" class="alert alert-success"><%= notice %></div>
  <div class="panel panel-white">
    <div class="panel-heading clearfix">
      <div class="col-sm-12 col-md-12 col-lg-12 pad0 panel-title">
        Listing Industry
      </div>
    </div>
    <div class="panel-body clearfix">
      <div class="alert alert-block alert-success fade in">
        <div class="gb10">
          <strong>Name:</strong>
          <%= @industry.name %>
        </div>
        <div class="form-group">
          <%= link_to 'Edit', edit_admin_industry_path(@industry), :class=>"btn btn-warning gutter-right10" %> 
          <%= link_to 'Back', admin_industries_path, :class=>"btn btn-default" %>
        </div>
      </div>
    </div>
  </div>
</div>