<div class="container">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pad-tb-20">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h2 class="color-yellow font25">SERVICES</h2>
      <div class="color-blue pad40">
        <p>Below are the services we offer at Bharatresource</p>
        <ol>
          <li>Create online profile of skilled person.</li>
          <li>Make their resume in standard format.</li>
          <li>Assist skilled person on basic HR interview questions to improve their soft skills.</li>
        </ol>

        <p>Some of the advantages to candidates and employer are listed below.</p>
        <p>The Candidate:</p>
        <ol>
          <li>Free of cost services.</li>
          <li>Easiest way to mark their digital presence.</li>
          <li>Exclusive platform for skilled person.</li>
          <li>Free resume writing.</li>
          <li>Free HR interview preparation.</li>
        </ol>

        <p>The Employer:</p>
        <ol>
          <li>Strong database.</li>
          <li>Wide range of classified fields gives accurate match.</li>
          <li>Shorter hiring cycle which results in increased efficiency for employer.</li>
          <li>Fastest and Lowest cost services available.</li>
          <li>Know your employee beforehand.</li>
        </ol>
        <p>To know more about our subscription plans write to us at <span class='color-yellow'>contact@bharatresource.com</span> </p>
      </div>
    </div>
  </div>
</div>