<div class="header" id="main-header">
  <div class="container">
    <div class="col-sm-12 col-md-4 col-lg-6 col-xl-5 logo_container">
      <%= link_to image_tag('logo.png', :width => '50px'), root_path %>
      <%= link_to "Bharatresource.com", root_path %>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-6 col-xl-6">
      <ul class="right-menu">
        <li>
          <a href="#info" class="top_scroll_js">About</a>
        </li>
        <li>
          <%= link_to 'Services', services_path %>
        </li>
        <li>
          <a href="#info" class="top_scroll_js">Plans</a>
        </li>
        <li>
          <a href="#info" class="top_scroll_js">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</div>