<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/meta' %>
  </head>
  <body class="main-page"> 
    <%= render 'layouts/header' %>
    <div class="row ">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
