<!DOCTYPE html>
<html>
  <head>
    <title>Bharatresource</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="main-wrapper">
      <div class="row  margin0">
        <div class="page-contents col-sm-8 col-md-9 col-lg-10 col-md-offset-3 col-lg-offset-2 pad0">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
